body{
    background-image: url(https://zuri.team/img/hero-bg.svg);
    color: rgba(16, 16, 16, 0.769);
}
.red{
    color:rgba(255, 0, 0, 0.733);
}
header h2{
    text-align: center;
    margin: 80px auto;
}
h1{
    text-align: center;
    margin: 40px auto;
}
.catch-phrase{
    width: 700px;
    text-align: center;
    margin: 40px auto;
    font-size: 18px;
}
.grid{
    display:grid;
    grid-template-areas: 
    'a b';
    gap: 10px;
    width: 500px;
    text-align: center;
    margin: 80px auto;
}

.item-a{
    background-color:rgba(228, 20, 20, 0.875);
    grid-area: a;
    color: white;
    border-style: solid;
    border-color:rgba(228, 20, 20, 0.161) ;
   
}
.item-b{
    border-style: solid;
   border-color: rgba(228, 20, 20, 0.875);
    grid-area: b;
    color: rgba(228, 20, 20, 0.875);
}
#a:link{text-decoration: none;
    }
a:hover{
    background-color: white;
}
#b:link{
    text-decoration: none;
}
.center{
    color:rgba(228, 20, 20, 0.875);
    text-align: center;
}
h2{text-align: center;
    margin: 20px auto;
    width: 365px;
}   
.lower-page{
    background-image: url("https://res.cloudinary.com/dafsch2zs/image/upload/v1596628122/Zuri%20Landing/left_bvmv7q.png");
}